<!DOCTYPE html>

<html lang="us">
<head>
    <meta charset="UTF-8">
    <title>STUFF</title>
</head>

<body>
    <h1>Hello from index.html!!!!????</h1>
    <%= myVariableClient %>

</body>


</html>